<% include ../partials/header %>

    <div class="cakes mb-lg">
        <h1 class="cake-heading heading-1 mt-md">Cakes</h1>

        <% cakes.forEach(function(cake){ %>
        <div class="cake">
            <div class="cake__thumbnail">
                <img src="<%= cake.image %>" alt="Cake" class="cake__photo">
            </div>
            <div class="cake__name">
                <a href="/cakes/<%= cake._id %>/reviews" class="cake__name--link">
                    <%= cake.name %>
                </a>
            </div>
            <div class="cake__description">
                <%= cake.description %>
            </div>
            <div class="cake__info">
                <a href="/orders/<%= cake._id %>" class="cake__order">Order now</a>
                <span class="cake__price">$<%= cake.price %></span>   
            </div>
              <% if (user && user.isAdmin) { %>
                <div class="cake__admin-area">
                  <a class="btn-edit--link" href="/cakes/<%= cake._id %>/edit">Edit</a>
                  <form action="/cakes/<%= cake._id %>?_method=DELETE" method="POST">
                    <button class="btn-cake">Delete</button>
                  </form>
                </div>
              <% } %>
        </div>
        
        <% }); %>
    </div>

<% include ../partials/footer %>