<% include ../partials/header %>

  <div class="cart">

    <% if (typeof orders !== 'undefined') { %>
      <h1 class="cart-heading heading-1 mt-sm mb-sm">Cart</h1>
      <table class="cart-table">
        <thead class="cart-table__head">
          <tr>
            <td>Cake</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Actions</td>
            <td>Subtotal</td>
          </tr>
        </thead>
        <% let total = 0 %>
        <tbody class="cart-table__body">
          <% orders.forEach(function(order) { %>
            <% let subtotal = parseFloat(order.price * order.quantity).toFixed(2) %>
            <% total += +subtotal %>
            <tr>
              <td><img src="<%= order.image %>" alt="Cake" class="top-table__photo"></td>
              <td>$<%= order.price %></td>
              <td><%= order.quantity %></td>
              <td>
                <a class="cart-table__link" href="/orders/<%= order.id %>/update?action=add"><i class="fas fa-plus"></i></a>&nbsp;
                <a class="cart-table__link" href="/orders/<%= order.id %>/update?action=remove"><i class="fas fa-minus"></i></a>&nbsp;
                <a class="cart-table__link" href="/orders/<%= order.id %>/update?action=clear"><i class="fas fa-eraser"></i></a>
              </td>
              <td>$<%= subtotal %></td>
            </tr>
          <% }); %>
        </tbody>
        <tfoot class="cart-table__foot">
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>$Total</td>
            <td>$<%= parseFloat(total).toFixed(2) %></td>
          </tr>
        </tfoot>
      </table>
      <div class="cart-btn-box">

        <form class="pp" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="cmd" value="_cart">
          <input type="hidden" name="upload" value="1">
          <input type="hidden" name="business" value="jultranet-facilitator@gmail.com">
          <% let number = 0; %>
          <% orders.forEach(function(order){ %>
              <% number++ %>
              <input type="hidden" name="item_name_<%= number %>" value="<%= order.name %>">
              <input type="hidden" name="amount_<%= number %>" value="<%= order.price %>">
              <input type="hidden" name="quantity_<%= number %>" value="<%= order.quantity %>">
          <% }); %>
          <input type="hidden" name="currency_code" value="USD">
          <input type="hidden" name="amount" value="<%= total %>">
          <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
        </form>
        
        
      </div>
    <% } else { %>
      <h1 class="cart-heading heading-1 mt-sm mb-sm">Cart Empty</h1>
    <% } %>
    
  </div>

<% include ../partials/footer %>